$border-width: 4px;
@media (min-width: 50rem) {
  $border-width: 2px;
}

$radius: 50px;
td {
  border: $border-width solid var(--primary-func-color);
}
.calculated-font-size {
  font-size: clamp(2rem, 4vw, 5rem);
}
tr:first-child td:first-child {
  border-top-left-radius: $radius;
  border-left: calc($border-width * 2) solid var(--primary-func-color);
  border-top: calc($border-width * 2) solid var(--primary-func-color);
}
tr:first-child td:last-child {
  border-top-right-radius: $radius;
  border-right: calc($border-width * 2) solid var(--primary-func-color);
  border-top: calc($border-width * 2) solid var(--primary-func-color);
}

tr:last-child td:first-child {
  border-bottom-left-radius: $radius;
  border-left: calc($border-width * 2) solid var(--primary-func-color);
  border-bottom: calc($border-width * 2) solid var(--primary-func-color);
}
tr:last-child td:last-child {
  border-bottom-right-radius: $radius;
  border-right: calc($border-width * 2) solid var(--primary-func-color);
  border-bottom: calc($border-width * 2) solid var(--primary-func-color);
}

tr:nth-child(1) td:nth-child(2) {
  border-top: calc($border-width * 2) solid var(--primary-func-color);
}

tr:nth-child(2) td:nth-child(1) {
  border-left: calc($border-width * 2) solid var(--primary-func-color);
}
tr:nth-child(2) td:nth-child(3) {
  border-right: calc($border-width * 2) solid var(--primary-func-color);
}
tr:nth-child(3) td:nth-child(2) {
  border-bottom: calc($border-width * 2) solid var(--primary-func-color);
}
